header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background-color: #f5f5f5;
}

nav{
    font-size: 25px;
    font-weight: 600;
    margin: 0 30px;

}